*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*nav styling*/
nav {
   height: 4.5vh;
   display: flex;
   padding: 0 4vw;
}
nav ul{
    align-self: center;
}
nav ul li{
    display: inline;
    margin: 0 1.5vw;
    font-weight: bold;
    cursor: pointer;
    padding: .5rem 0;
}

nav ul li:hover{
    transform: scale(1.1);
    color: crimson;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background:crimson;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  /*header styling*/

  header{
      height: 40vh;
      background-image: url('../images/header-background.jpg');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .logo_div img{
      margin: 1vh 1vw;
      border-radius: 20px;
      cursor: pointer;
      height: 60%;
  }
  
  header h4{
    color: crimson;
    margin: 0 8vw;
    font-size: 1.7rem;
    text-shadow: #474747 3px 5px 2px, 2px 2px 2px rgba(206,89,55,0);
  }

  header h2{
      color: white;
      justify-self: flex-end;
      padding: 0;
      margin: 0 8vw;
      font-weight: bolder;
      font-size: 6rem;
      text-shadow: #474747 3px 5px 2px;
  }
  .contact_section h2{
    color: crimson;
    margin: 0 8vw;
    font-weight: bolder;
    font-size: 6rem;
    text-shadow: 4px 3px 0px #7A7A7A, 2px 2px 2px rgba(206,89,55,0);
}

.contact_h6{
    margin: 4vh 0;
    font-size: 1.2rem;
}
/*contact form and address */

.contact_content{
    margin: 4vh 0;
    display: flex;
    padding: 0 9vw;
}

.contact_form form{
    width: 40vw;
    display: flex;
    flex-direction:column;
}
.contact_form form input{
    height: 5vh;
    width:35vw;
    margin: 1.5vh 0;
    border:2px solid crimson;
}
.contact_form form textarea{
    height: 15vh;
    width:35vw;
    margin: 1.5vh 0;
    border:2px solid crimson;
}
.crimson{
    color: crimson;
}
.gray{
    color:darkgray;
}

#submit{
    border: 2px solid crimson;
    font-size: 1.4rem;
    background-color: white;
    width: 15vw;
}



  
